@model PaginatedList<Post>
@{
    ViewBag.Controller = "Admin";
    ViewBag.Titel = "Admin";
}

<div class="container">
    <h2>Admin page!</h2>
    <a asp-controller="Admin" asp-action="Edit">Create Post</a>
    <div>
        @foreach (var post in Model)
        {
            <div>
                @post.Title
                |
                <a asp-controller="Admin" asp-action="Edit" asp-route-id="@post.Id">
                    Edit
                </a>
                |
                <a asp-controller="Admin" asp-action="Delete" asp-route-id="@post.Id">
                    Delete
                </a>
            </div>
        }
    </div>
    <div style="display:flex">
        @if (Model.HasPreviousPage)
        {
            <a asp-controller="Admin" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-searchString="@ViewData["searchString"]">Previus</a>
        }
        @if (Model.HasNextPage)
        {
            <a style="margin-left:auto" asp-controller="Admin" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-searchString="@ViewData["searchString"]">Next</a>
        }
    </div>
</div>
