@model PaginatedList<Post>
@{
    ViewBag.Title = "Blog";
    ViewBag.Description = "A blog page";
    ViewBag.Keywords = "Blog";
    ViewBag.Controller = "Home";
}

@*<div class="main-img">
    <span>A Blog</span>
</div>*@

<div class="container">
    @foreach (var post in Model)
    {
        @*var path = $"/image/{post.Image}";*@
        <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <div class="card-post">
                <div>
                    <h3>@post.Title</h3>
                    <p>@post.Description</p>
                </div>
            </div>
        </a>
    }
    <div class="pagination">
        @if (Model.HasPreviousPage)
        {
            <a class="previus" asp-controller="Home" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex - 1)" asp-route-searchString="@ViewData["searchString"]">Previus</a>
        }
        @if (Model.HasNextPage)
        {
            <a class="next" asp-controller="Home" asp-action="Index" asp-route-pageIndex="@(Model.PageIndex + 1)" asp-route-searchString="@ViewData["searchString"]">Next</a>
        }
    </div>
</div>

