@model Post
@{
    ViewBag.Title = @Model.Title;
    ViewBag.Description = @Model.Description;
    ViewBag.Keywords = @Model.Tags;
}

<article class="container">

    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var path = $"/image/{Model.Image}";

        <figure>
            <img src="@path">
            <figcaption>@Model.Title</figcaption>
        </figure>

    }
    <div class="post-body">
        @Html.Raw(Model.Body)
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment">
            @await Html.PartialAsync("CommentEditor", new CommentViewModel{ PostId = Model.Id, User = User.Identity.Name})
        </div>
    }
    <div class="comment-section">
        @foreach (var comment in Model.Comments)
        {
            <h6>@comment.User</h6>
            <div>
                @Html.Raw(comment.Message)
            </div>

            @foreach (var subComment in comment.SubComments)
            {

            }
        }
    </div>
</article>

@section scripts{
    <script src="https://cdn.ckeditor.com/4.17.1/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor')
    </script>
}
