@model Post
@{
    ViewBag.Title = @Model.Title;
    ViewBag.Description = @Model.Description;
    ViewBag.Keywords = @Model.Tags;
}

<article class="container">

    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var path = $"/image/{Model.Image}";

        <figure>
            <img src="@path">
            <figcaption>@Model.Title</figcaption>
        </figure>

    }
    <div class="post-body">
        @Html.Raw(Model.Body)
    </div>
    <div class="comment">
        @await Html.PartialAsync("CommentEditor", new CommentViewModel{ PostId = Model.Id})
    </div>
    <div class="comment-section">
        @if (Model.Comments.Any())
        {
            @foreach (var comment in Model.Comments)
            {
                <div>
                    @Html.Raw(@comment.Message)
                </div>
                if (comment.SubComments.Any())
                {
                    @foreach (var subComment in comment.SubComments)
                    {

                    }
                }
            }
        }
    </div>
</article>
