<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="index" >Home</a>
            @if (User.IsInRole("Administrator"))
            {
                <a asp-controller="Admin" asp-action="index">Admin</a>
            }    
            <form asp-controller="@ViewBag.Controller" asp-action="index" method="get">
                <input type="search" name="SearchString" />
                <input type="submit" value="Search" />
            </form>
            <partial name="PartialLogin" />
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    @RenderSection("scripts", false)
</body>
</html>
