<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <a asp-controller="Home" asp-action="index">Home</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Admin" asp-action="index">Admin</a>
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Login</a>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    
    @RenderSection("scripts", false)
</body>
</html>
